
@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>

<div class="about-us">
    <p>
        We are one of the active food-service equipment distributors online for aspiring entrepreneurs and even small & medium enterprises. We market affordable and quality products used nationwide.
    </p>
</div>