
@{
    ViewData["Title"] = "About";
}
<br />
<h3>About Us</h3>

<div class="about-us">
    <p>
        We are one of the active food-service equipment distributors online for aspiring entrepreneurs and even small & medium enterprises. We market affordable and quality products used nationwide.
    </p>
</div>