@page
@model NegoFoodEquipmentExpress.Pages.RequestQuoteConfirmationModel
@{
    ViewData["Title"] = "Request Quote Confirmation";
}

<h1>Thank You!</h1>
<p>Your quote request has been successfully submitted. We will get back to you shortly.</p>